{% extends 'main/layout.html' %}


{% block title %}
Form for feedback
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Form for feedback</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.email }}<br>
            {{ form.content }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}