{% extends 'main/layout.html' %}


{% block title %}
Feedback by {{ feedback.name }}
{% endblock %}

{% block content %}
    <div class="features">
        <div class="alert alert-warning">
            <h1>{{ feedback.name }}</h1>
            <hr>
            <p>{{ feedback.date }}</p>
            <hr>
            <p>{{ feedback.content }}</p>
            <hr>
            <p>{{ feedback.email }}</p>
            <hr>
            <a href="{% url 'feedback_home' %}" class="btn btn-warning">Back</a>
        </div>
    </div>
{% endblock %}