body {
    background: rgb(0,35,255);
    background: linear-gradient(90deg, rgba(0,35,255,1) 0%, rgba(3,0,255,0.9893207282913166) 30%, rgba(255,0,0,1) 100%);
    font-family: 'Montserrat', sans-serif;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 40px;
    float: left;
}

aside .logo {
    font-size: 20px;
    font-family: 'Times New Roman', sans-serif;
    background: linear-gradient(45deg, #2a33a5 33%, #fa0000 67%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #2a33a5;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 5px;
}

aside h3 {
    font-family: 'Times New Roman', sans-serif;
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    background: linear-gradient(45deg, #2a33a5 15%, #fa0000 75%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #2a33a5;

    text_decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto;}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: white;
  background: #181818;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.floating-button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: black;
  transform: translateY(-7px);
}

.shine-button {
  text-decoration: none;
  display: inline-block;
  width: 120px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.shine-button:hover {
  background: linear-gradient(90deg, rgba(0,35,255,1) 0%, rgba(255,0,0,1) 100%);
  color: white;
}

.pressed-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.pressed-button:hover {
  background: #2EE59D;
  color: white;
}

.btn-info {
    text-decoration: none;
    margin: 5px 30px;
    display: inline-block;
    transition: transform .6s ease;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background: rgb(7,108,3);
    background: linear-gradient(90deg, rgba(7,108,3,1) 0%, rgba(42,51,165,0.9024859943977591) 33%, rgba(250,0,0,1) 66%, rgba(250,121,0,1) 100%);
}

.btn-info:hover {
    transform: scale(1.05);
    transition: transform .6s ease;
    background: rgb(0,35,255);
    background: linear-gradient(90deg, rgba(0,35,255,1) 0%, rgba(3,0,255,0.9893207282913166) 30%, rgba(255,0,0,1) 100%);
    color: white;
}