{% extends 'main/layout.html' %}


{% block title %}
About me
{% endblock %}

{% block content %}
<div class="features">
    <h1>About me</h1>
    <p>My name is Maxim Lugovsky, and I'm a junior Python developer, and I'm currently doing my own projects. I have no
        experience in commercial development, but I think doing my own projects is a sort of experience for me too. I
        speak English and Russian and I know that it is very important for work. I work with Django, Flask, SQLite,
        PostgreSQL, have
        knowledge of Git and of course Python. I have currently worked out several projects such as voice assistant,
        2D game, telegram bot and this website. If you are interested in my website, my knowledge or my projects, you
        can go to the contacts tab and contact me.</p>
    <div class="photo">
        <img src='static/main/img/photo.jpg' height="240px" width="240px">
    </div>
    <p>Moreover I would like to add that I have an engineering degree in "Railway Automation, Telemechanics and
        Communications", and I have completed course in Python at IT Overone, the course at the educational
        website Stepik.org. and other. If you want to know more about this, please go to the certificates page.</p>
</div>
{% endblock %}