{% extends 'main/layout.html' %}


{% block title %}
About me
{% endblock %}

{% block content %}
<div class="features">
    <h1>About me</h1>
    <p>I'm Junior Python Developer and at the moment I make
        my own projects. I don't have experience in commercial development, but i think that my own project it's
        experience too.
        I speak on English and Russian and I know that it's very important for job. I work with Django, Flask, SQLite,
        PostgreSQL, Git and of course Python.</p>
    {# <button class="btn btn-warning">GG</button> #}
</div>
{% endblock %}