{% extends 'main/layout.html' %}


{% block title %}
Contacts
{% endblock %}

{% block content %}
<div class="features">
    <h1>Contacts</h1>
    <p>I am glad to see you on this page. If you want to contact me, then do it in any way convenient for you</p>
    <a href="mailto:maxim.lugovsky@gmail.com" class="floating-button"><i class="fas fa-envelope"></i> Gmail</a>
    <a href="https://t.me/mxm_lugas" class="floating-button"><i class="fas fa-paper-plane"></i> Telegram</a>
    <a href="https://www.linkedin.com/in/maxim-lugovsky-622696230/" class="floating-button"><i class="fab fa-linkedin"></i> LinkedIn</a>
    <a href="https://github.com/MaxLugas" class="floating-button"><i class="fab fa-github"></i> GitHub</a>
    <a href="https://api.whatsapp.com/send?phone=375291633171" class="floating-button"><i class="fab fa-whatsapp"></i> WhatsApp</a>
</div>
{% endblock %}