{% extends 'main/layout.html' %}


{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <p>Welcome to the resume website. Here you can evaluate my skills as a Backend programmer and my experience with
        Frontend.
        The pages of this site present my projects that I have created and continue to create myself. On the
        pages of the site you can leave your feedback both about the site and about my projects.
        I hope that visiting the site will not cause you any problems and you will not be able to say that you have
        wasted your time.</p>
    {# <button class="btn btn-warning">GG</button> #}
</div>
{% endblock %}