{% extends 'main/layout.html' %}

{% block title %}
Form for creating project
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    {% if user.is_superuser %}
        <div class="features">
            <h2>Form for creating project</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.title }}<br>
                {{ form.anons }}<br>
                {{ form.content }}<br>
                {{ form.link }}<br>
                <span>{{ error }}</span>
                <button class="pressed-button" type="submit">Create</button>
            </form>
        </div>
    {% else%}
        <div class="features">
            <p>Sorry, you are not admin</p>
        </div>
    {% endif %}
{% endif %}
{% endblock %}