{% extends 'main/layout.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
    <div class="features">
        <div class="alert alert-warning">
            <h1>{{ article.title }}</h1>
            <hr>
            <p>{{ article.date }}</p>
            <hr>
            <p>{{ article.content }}</p>
            <hr>
            <p><a class="github" href="{{ article.link }}">{{ article.link }}</a></p>
            <hr>
            <a href="{% url 'news_home' %}" class="shine-button">Back</a>
        </div>
    </div>

{% endblock %}