{% extends 'main/layout.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
    <div class="features">
        <div class="alert alert-warning">
            <h1>{{ article.title }}</h1>
            <hr>
            <p>{{ article.date }}</p>
            <hr>
            <p>{{ article.content }}</p>
            <hr>
            <p>{{ article.file }}</p>
            <hr>
            <a href="{% url 'news_home' %}" class="shine-button">Back</a>
            {% if request.user.is_authenticated %}
                {% if user.is_superuser %}
                    <div class="admin">
                        <a href="{% url 'news-delete' article.id %}" class="btn btn-info">Delete</a>
                        <a href="{% url 'news-update' article.id %}" class="btn btn-info">Update</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}