{% extends 'main/layout.html' %}

{% block title %}
Delete project
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    {% if user.is_superuser %}
        <div class="features">
            <h1>Delete news</h1>
            <p>Are you sure that you want to delete this project?</p>
            <form method="post">
                {% csrf_token %}
                <button class="admin-button" type="submit">Delete</button>
            </form>
        </div>
    {% else%}
    <div class="features">
        <p>Sorry, you are not admin</p>
    </div>
    {% endif %}
{% endif %}
{% endblock %}